#skill{
    background: #372727;
}
.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
  }
  
  /* Skill Bar Styles */
  .progress-container {
    margin-bottom: 20px;
  }
  
  .progress-badge {
    font-size: 16px;
    font-weight: bold;
  }
  
  .progress-bar {
    background-color: #2c98f0;
  }
  
  .progress-value {
    font-size: 14px;
    font-weight: bold;
  }
  #skill{
    background: #00334D !important;
  }
  
  
  
  