<div class="profile-page   " >
  <div class="wrapper my-wrap">
    <div class="page-header page-header-small" filter-color="green">
     
     
     <!----    <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
      </div> -->
    
      
      <div class="container     my-page">
        <div class="content-center">
              
            
            <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/img2.png" alt="Image" />
            </a> 
          </div>
          <h1 class="h2 title">Ali Raza Abbas</h1>
          <p class="category text-white">Web Developer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download CV</a>
            <a class="btn btn-default btn-round btn-lg btn-icon"
            href="https://www.linkedin.com/in/ali-raza-abbas-5462a9162/" target="_blank" rel="tooltip"
            title="Follow me on Linkedin">
             <i class="fa fa-linkedin"></i>
         </a>
     </div>
 </div>
           
          
           
          </div>
        </div>
      </div>
    

